body{
    background-color:#ECF8FD;
    text-align:center;
    }
h1{
    color:#F2B418;
}
h2{
    text-align:center;
}

.one{
    border: 4px solid black;
    background-color: #AFCBD5;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align:left;
}
.two{
    border: 4px solid black;
    background-color: #AFCBD5;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align:left;
}