/* style the body and the background color: */
body {
    background-color: #ECF8FD;
    text-align: center;
}

/*    color the main header at the top: */
h1 {
    color: #F2B418;
}

/* center the other headers: */
h2 {
    text-align: center;
}

/* make sections and <p class="paragraph"> elements have a border/box around them: */
section,
.paragraph {
    border: 4px solid black;
    background-color: #AFCBD5;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    border-radius: 10px;
}


/* make the text in this item larger and center it: */
.paragraph {
    font-size: 25px;
    text-align: center;
}

/*next couple are to style the navigation bar at the top: */
.nav-bar ul {
    background-color: #815355;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    border-radius: 10px;
}
li a {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: block;
    width: 150px;
    background-color: #ECF8FD;
    text-decoration: none;
    border-radius: 10px;
}
a:hover {
    background-color: black;
    color: white;
}

/*style buttons on home page: */
/*it needs to be .button here so that it only styles */
/*the button on the home page*/

.button {
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: white;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    background-color: #008B8B;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*style buttons on constitution page*/

button{
    background-color: #AFCBD5;
    border: 4px solid black;
    color: white;
    padding: 11px 16px;
    padding: 15px 30px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    border-radius:10px;
}
button:hover{
    background-color: black;

}
    
    /*make it so a button changes color when you hover: */
    .button:hover {
        background-color: black;
    }

/*style the list on the constitutions page: */
.texts ul {
    list-style-type: none;
}


/* below are how the texts are going to be colored: */
span.liberty {
    background-color: #E3DAE7;
}

span.vote {
    background-color: #A0849D;
}

span.citizenship {
    background-color: #D3B3B8;
}

span.nationalism {
    background-color: #C0CFFA;
}

span.russian {
    background-color: #6497b1;
}

span.native {
    background-color: #AAAAAA;
}

span.gov {
    background-color: #e0a899;
}

iframe {
    width: 100%;
}


