.sidenav{
    float: left;
    width: 15%; 
}

.sidenav ul{
    justify-content: space-around;
    align-content: space-between;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}

li.sidebar{
    text-decoration:none;
    list-style-type:none;
    padding: 20px;
    padding-left:0px;
    border-radius: 0px;
}
li.sidebar a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
    color:black;
}

.sidebar a:hover{
    background-color: black;
    color: white;
}

.check-box{
    float:left;
    display: flex;
    flex-direction: column;
}
li.colors{
    text-decoration:none;
    list-style-type:none;
    margin:10px;
    padding-left:0px;
    
}

.text{
    float:left;
    width: 62%;
    margin: 5px;
}

.check-box{
    float:right;
    width: 20%;
    text-align:left;
}

div.sidenav1{
    width: 85%;
    position:relative;
    margin: auto;
}

 .armenia a:hover{
                background-color: black;
                color: white;
            }
            li.armenia a{
                text-decoration: none;
                border-radius: 0px;
                color:white;
            }
           
            li.armenia{
                z-index: 100;
                transform: translate(150px, -230px);
                
                text-decoration:none;
                list-style-type:none;
                position: absolute;
                text-decoration: none;
                padding: 5px;
                margin: 5px;
                border-radius: 0px;
                color:white;
                font-size: 13px;
                background-color: black;
                
            }
            li.azerbaijan a{
                text-decoration: none;
                border-radius: 0px;
                color:white;
            }
           
            li.azerbaijan{
                transform: translate(200px, -220px);
                
                text-decoration:none;
                list-style-type:none;
                position: absolute;
                text-decoration: none;
                padding: 5px;
                margin: 5px;
                border-radius: 0px;
                color:white;
                font-size: 13px;
                background-color: black;
                
            }
            
            li.belarus a{
                text-decoration: none;
                border-radius: 0px;
                color:white;
            }
           
            li.belarus{
                transform: translate(130%, -1300%);
                
                text-decoration:none;
                list-style-type:none;
                position: absolute;
                text-decoration: none;
                padding: 5px;
                margin: 5px;
                border-radius: 0px;
                color:white;
                font-size: 13px;
                background-color: black;
                
            }
           
